@import "../node_modules/bootstrap/scss/mixins";

@mixin flex-fill($scroll: false, $basis: 0) {
  flex: 1 0 $basis;
  @if $scroll {
    overflow-#{$scroll}: auto;
  }
}

@mixin colour-invert($background: $inverse-bg) {
  background: $background;
  color: $inverse-color;

  a:not(.btn), .btn-link {
    color: $inverse-link-color;
    @include hover-focus {
      color: $inverse-link-hover-color;
    }
  }
}

@mixin colour-reset() {
  color: $body-color;

  a:not(.btn), .btn-link {
    color: $link-color;
    @include hover-focus {
      color: $link-hover-color;
    }
  }
}
