{% extends 'block.html.twig' %}
{#
   Display in columns to match the search page.
   @see ds/ds-2col--node-teaser.html.twig
#}
{% set classes = classes ?? [] %}
{%
  set classes = classes|merge([
    'columns',
    'is-multiline',
    'is-centered',
  ])
%}
{% block content %}
  <div class="column is-flex-column is-12-tablet is-12-desktop is-9-widescreen">
    {{ content }}
  </div>
{% endblock content %}
