{% extends "@octavia/layout/page.html.twig" %}

{% block navbar %}
{# Add a new region #}
{% if page.header_user %}
<div class="container">
  <div class="columns">
    <div class="column"></div>
    {{ page.header_user }}
  </div>
</div>
{% endif %}
{% block navbar_branding %}
{% if page.navbar_branding %}
<div class="container">
  <div class="columns is-centered">
    <div class="column is-narrow has-text-centered">
  {{ page.navbar_branding }}
    </div>
  </div>
</div>
{% endif %}
{% endblock navbar_branding %}
{% if page.navbar_branding or page.navbar_social or page.primary_menu %}
{# Top navbar #}
<div class="container">
  <div class="columns is-centered">
    <div class="column is-narrow">
<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <div id="js-navbar-burger" class="navbar-burger burger" data-target="navbar-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="js-navbar-menu" class="navbar-menu">
      {% block navbar_social %}
      {% if page.navbar_social %}
      <div class="navbar-start">
      {{ page.navbar_social }}
      </div>
      {% endif %}
      {% endblock navbar_social %}
      {% block primary_menu %}
      {% if page.primary_menu %}
      {{ page.primary_menu }}
      {% endif %}
      {% endblock primary_menu %}
    </div>
  </div>
</nav>
    </div>
  </div>
</div>
{% endif %}
{% endblock navbar %}
