<section class="{{classes|join(' ')}}" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url('{{ image_url }}')">
  <div class="hero-body">
    <div class="container is-fluid">
      <div class="title is-size-3-desktop is-size-4-tablet is-size-5-mobile has-text-shadow has-text-centered">
        {{ text }}
      </div>
      <div class="is-pulled-right">
        {{ link }}
      </div>
    </div>
  </div>
</section>
