{% extends "@octavia/layout/page.html.twig" %}

{% block footer %}
{% if page.footer or page.footer_menus or page.footer_info or page.footer_notice%}
  <footer role="contentinfo" class="footer has-text-white">
    <div class="container">
      {{ page.footer }}
      <div class="columns">
        {% if page.footer_menus %}
          {{ page.footer_menus }}
        {% endif %}
        {% if page.footer_info %}
          <div class="column"></div>
          {{ page.footer_info }}
        {% endif %}
      </div>
      {% if page.footer_notice %}
        {{ page.footer_notice }}
      {% endif %}
    </div>
  </footer>
{% endif %}
{% endblock footer %}
