/* Regular */
@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo-Italic.otf');
    font-weight: normal;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}
