/* Regular */
@font-face {
    font-family: 'Amaranth';
    src: url('../fonts/Amaranth-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Amaranth';
    src: url('../fonts/Amaranth-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Amaranth';
    src: url('../fonts/Amaranth-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'Amaranth';
    src: url('../fonts/Amaranth-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
