/* Regular */
@font-face {
    font-family: 'KhwanSans';
    src: url('../fonts/KhwanSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'KhwanSans';
    src: url('../fonts/KhwanSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'KhwanSans';
    src: url('../fonts/KhwanSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'KhwanSans';
    src: url('../fonts/KhwanSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

/* Thin */
@font-face {
    font-family: 'KhwanSans Thin';
    src: url('../fonts/KhwanSans-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

