// Set variables.
$body-line-height: 1.6;
$body-font-size: 1.05em;
$card-background-color: hsl(0, 0%, 98%);
$card-content-padding: 1rem;
$footer-background-color: hsl(0, 0%, 95%);

$grey-darker:  #222;
$grey-dark:    #333;
$grey:         #777;
$grey-light:   #AEA79F;
$grey-lighter: #ddd;

$orange:       #e08119;
$yellow:       #FFD662;
$green:        #797B3A;
$purple:       #6B5B95;
$red:          #9b1b30;
$blue:         #1c5c9c;
$tag-radius: 0;

$family-secondary: "KhwanSans Thin", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$title-strong-weight: 800;

$primary: $red;

$title-color: $primary;
$subtitle-color: $grey-darker;
$title-family: $family-secondary;
$title-size: 2.5rem;

@import 'bulma';
@import 'khwan_sans_font';

