// Set variables.
$body-line-height: 1.6;
$body-font-size: 1.05em;
$card-background-color: hsl(319, 36%, 98%);
$card-content-padding: 1rem;
$footer-background-color: 	hsl(319, 36%, 95%);

$grey-darker:  #222;
$grey-dark:    #333;
$grey:         #777;
$grey-light:   #AEA79F;
$grey-lighter: #ddd;

$orange:       #ec9787;
$yellow:       #ecdb54;
$green:        #00a591;
$purple:       #6b5b95;
$red:          #e94b3c;
$blue:         #6f9fd8;

$family-secondary: "Amaranth", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$primary: $purple;
$info: $blue;
$link: $green;

$title-family: $family-secondary;
$title-color: #bc70a4;
$title-size: 2.5rem;
$subtitle-color: $purple;
$subtitle-family: $family-secondary;

@import 'bulma';
@import 'amaranth_font';
